
CREATE TABLE [dbo].[DangNhap](
	[userName] [nvarchar](100) NULL,
	[passWord] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lops]    Script Date: 06/25/2016 20:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lops](
	[maLop] [nvarchar](50) NOT NULL,
	[tenLop] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Lops] ([maLop], [tenLop]) VALUES (N'tin13a', N'Tin ứng dụng 13A')
INSERT [dbo].[Lops] ([maLop], [tenLop]) VALUES (N'tin13b', N'Tin ứng dụng 13B')
/****** Object:  Table [dbo].[HocKy]    Script Date: 06/25/2016 20:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[maHK] [nvarchar](50) NOT NULL,
	[tenHK] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HocKy] ([maHK], [tenHK]) VALUES (N'hk1', N'Học kỳ 1')
INSERT [dbo].[HocKy] ([maHK], [tenHK]) VALUES (N'hk2', N'Học kỳ 2')
INSERT [dbo].[HocKy] ([maHK], [tenHK]) VALUES (N'hk3', N'Học kỳ 3')
/****** Object:  Table [dbo].[ThongTin]    Script Date: 06/25/2016 20:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTin](
	[tinh] [nvarchar](50) NULL,
	[donViChuQuan] [nvarchar](100) NULL,
	[tenTruong] [nvarchar](100) NULL,
	[khoaHoc] [nvarchar](100) NULL,
	[nganhHoc] [nvarchar](100) NULL,
	[chuyenNganh] [nvarchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ThongTin] ([tinh], [donViChuQuan], [tenTruong], [khoaHoc], [nganhHoc], [chuyenNganh]) VALUES (N'Yên Bái', N'SỞ GIÁO DỤC VÀ ĐÀO TẠO YÊN BÁI', N'TRƯỜNG C.Đ.S.P YÊN BÁI', N'2013-2016', N'Cao đẳng Tin học', N'Tin ứng dụng')
/****** Object:  Table [dbo].[SinhVien]    Script Date: 06/25/2016 20:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[maSV] [nvarchar](50) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[ngaySinh] [datetime] NULL,
	[gioiTinh] [smallint] NULL,
	[noiSinh] [nvarchar](100) NULL,
	[danToc] [nvarchar](100) NULL,
	[maLop] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SinhVien] ([maSV], [hoTen], [ngaySinh], [gioiTinh], [noiSinh], [danToc], [maLop]) VALUES (N'131C140201-0128', N'Trần Tuấn Anh', CAST(0x0000868800000000 AS DateTime), 0, N'Văn Yên', N'Kinh', N'tin13a')
INSERT [dbo].[SinhVien] ([maSV], [hoTen], [ngaySinh], [gioiTinh], [noiSinh], [danToc], [maLop]) VALUES (N'131C140201-0129', N'Hoàng Văn Bình', CAST(0x000088AD00000000 AS DateTime), 0, N'Lục yên', N'Tày', N'tin13a')
INSERT [dbo].[SinhVien] ([maSV], [hoTen], [ngaySinh], [gioiTinh], [noiSinh], [danToc], [maLop]) VALUES (N'131C140201-0130', N'Lê Thị Châm', CAST(0x0000885200000000 AS DateTime), 1, N'Yên bình', N'Kinh', N'tin13a')
/****** Object:  Table [dbo].[MonHP]    Script Date: 06/25/2016 20:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHP](
	[maMon] [nvarchar](50) NOT NULL,
	[tenMon] [nvarchar](100) NULL,
	[soTinChi] [smallint] NULL,
	[maHK] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maMon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MonHP] ([maMon], [tenMon], [soTinChi], [maHK]) VALUES (N'ATBMTT', N'An toàn bảo mật thông tin', 3, N'hk4')
INSERT [dbo].[MonHP] ([maMon], [tenMon], [soTinChi], [maHK]) VALUES (N'CNPM', N'Công nghệ phần mềm', 4, N'hk5')
INSERT [dbo].[MonHP] ([maMon], [tenMon], [soTinChi], [maHK]) VALUES (N'CSDL', N'Cơ sở dữ liệu', 5, N'hk2')
/****** Object:  Table [dbo].[DiemHP]    Script Date: 06/25/2016 20:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemHP](
	[maSV] [nvarchar](50) NOT NULL,
	[maMon] [nvarchar](50) NOT NULL,
	[diemLan1] [float] NULL,
	[diemLan2] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DiemHP] ([maSV], [maMon], [diemLan1], [diemLan2]) VALUES (N'131C140201-0128', N'ATBMTT', 7.8, NULL)
INSERT [dbo].[DiemHP] ([maSV], [maMon], [diemLan1], [diemLan2]) VALUES (N'131C140201-0129', N'ATBMTT', 7.7, NULL)
INSERT [dbo].[DiemHP] ([maSV], [maMon], [diemLan1], [diemLan2]) VALUES (N'131C140201-0130', N'ATBMTT', 7.7, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
/****** Object:  ForeignKey [FK_DiemMonHP]    Script Date: 06/25/2016 20:58:31 ******/
ALTER TABLE [dbo].[DiemHP]  WITH CHECK ADD  CONSTRAINT [FK_DiemMonHP] FOREIGN KEY([maMon])
REFERENCES [dbo].[MonHP] ([maMon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemHP] CHECK CONSTRAINT [FK_DiemMonHP]
GO
/****** Object:  ForeignKey [FK_DiemSV]    Script Date: 06/25/2016 20:58:31 ******/
ALTER TABLE [dbo].[DiemHP]  WITH CHECK ADD  CONSTRAINT [FK_DiemSV] FOREIGN KEY([maSV])
REFERENCES [dbo].[SinhVien] ([maSV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemHP] CHECK CONSTRAINT [FK_DiemSV]
GO
/****** Object:  ForeignKey [FK_HKMonHP]    Script Date: 06/25/2016 20:58:31 ******/
ALTER TABLE [dbo].[MonHP]  WITH CHECK ADD  CONSTRAINT [FK_HKMonHP] FOREIGN KEY([maHK])
REFERENCES [dbo].[HocKy] ([maHK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonHP] CHECK CONSTRAINT [FK_HKMonHP]
GO
/****** Object:  ForeignKey [FK_LopSinhVien]    Script Date: 06/25/2016 20:58:31 ******/
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_LopSinhVien] FOREIGN KEY([maLop])
REFERENCES [dbo].[Lops] ([maLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_LopSinhVien]
GO
